<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/head'); %>
</head>

<body class="container">
    <header><%- include('partials/header'); %></header>
    <main class="pt-3">
        <div class="container">
            <div class="row justify-content-sm-left">
                <div class="col">
                    <div class="fw-bold border border-dark border-3 px-3 py-1 bg-secondary bg-opacity-10">
                        Sort by: <a id="likesSort" href="#">Likes</a> |
                        <a id="hatesSort" href="#">Hates</a> |
                        <a id="dateSort" href="#">Date</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="container pt-3">
            <div class="row justify-content-between">
                <div class="col">
                    <% if (locals.movies && locals.movies.length > 0) { %>
                    <div id="moviesList">
                        <% for(var i=0; i < locals.movies.length; i++) { %>
                        <%- include("partials/moviesList", { movie: movies[i], user: locals.user }); %>
                        <% } %>
                    </div>
                    <% } else { %>
                    <div>No movies available! Try adding one!</div>
                    <% } %>
                </div>
                <div class="col">
                    <div class="float-end">
                        <% if (locals.user) { %>
                        <button type="button" class="btn btn-lg btn-success" data-bs-toggle="modal" data-bs-target="#newMovieModal">
                            New Movie
                        </button>
                        <% } %>
                    </div>
                </div>
            </div>
        </div>

        <% if (locals.user) { %>
        <%- include('partials/newMovieModal'); %>
        <% } else { %>
        <%- include('partials/loginModal'); %>
        <%- include('partials/registerModal'); %>
        <% } %>
    </main>
    <script src="/static/js/homepage.js"></script>

    <footer><%- include('partials/footer'); %></footer>
</body>

</html>