<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('partials/head'); %>
</head>

<body class="container">
    <header><%- include('partials/header'); %></header>
    <main class="pt-3">
        <% if (locals.userProfile) { %>
        <div class="container">
            <div class="row justify-content-left">
                <div class="col">
                    <% if (locals.user && locals.userProfile.id === locals.user.id) { %>
                    <h3>
                        Welcome to your profile!
                    </h3>
                    <% } else {%>
                    <h3>
                        Profile of <%= userProfile.name %>
                    </h3>
                    <% } %>
                </div>
            </div>
            <div class="row justify-content-left my-2">
                <div class="col">
                    <a href="/" id="logout">Home</a>
                </div>
            </div>
        </div>
        <% } %>
        <div class="container">
            <div class="row justify-content-sm-left">
                <div class="col">
                    <div class="fw-bold border border-dark border-3 px-3 py-1 bg-secondary bg-opacity-10">
                        Sort by: <a class="_pagination" data-action="sort" data-order="likes" href="javascript:void(0)">Likes</a> |
                        <a class="_pagination" data-action="sort" data-order="hates" href="javascript:void(0)">Hates</a> |
                        <a class="_pagination" data-action="sort" data-order="date" href="javascript:void(0)">Date</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="container pt-3">
            <div class="row justify-content-between">
                <div class="col">
                    <% if (locals.movies && locals.movies.length > 0) { %>
                    <div id="moviesList">
                        <%- include("partials/moviesList", { movies: movies, user: locals.user }); %>
                    </div>
                    <div class="my-5">
                        <nav>
                            <ul class="pagination justify-content-center">
                                <li class="page-item me-2 <%= +locals.moviesPage === 0 ? "disabled" : "" %>" id="paginationPrevious">
                                    <a class="page-link _pagination" data-action="previous" href="javascript:void(0)" tabindex="-1">Previous</a>
                                </li>
                                <li class="page-item <%= Math.ceil(locals.totalMovies / locals.moviesLimit) - 1 === +locals.moviesPage ? "disabled" : "" %>" id="paginationNext">
                                    <a class="page-link _pagination" data-action="next" href="javascript:void(0)">Next</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                    <% } else { %>
                    <div id="moviesList">
                        <div>No movies available! Try adding one!</div>
                    </div>
                    <% } %>
                </div>
                <div class="col">
                    <div class="float-end">
                        <% if (locals.user) { %>
                        <button type="button" class="btn btn-lg btn-success" data-bs-toggle="modal" data-bs-target="#newMovieModal">
                            New Movie
                        </button>
                        <% } %>
                    </div>
                </div>
            </div>
        </div>

        <% if (locals.user) { %>
        <%- include('partials/newMovieModal'); %>
        <% } else { %>
        <%- include('partials/loginModal'); %>
        <%- include('partials/registerModal'); %>
        <% } %>
    </main>
    <script src="/static/js/homepage.js"></script>

    <footer><%- include('partials/footer'); %></footer>
</body>

</html>