<% for(let i=0; i < locals.movies.length; i++) { %>
<div class="container border border-dark border-3 px-3 py-1 my-2">
    <div class="row">
        <div class="col fw-bold">
            <h2><%= locals.movies[i].title %></h2>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <p>
                Posted by
                <a href="/users/<%= locals.movies[i].userId %>"><%= locals.movies[i].userName
                        %></a>
                <%= locals.movies[i].daysElapsed %>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <p>
                <%= locals.movies[i].description %>
            </p>
        </div>
        <div class="row">
            <div class="col">
                <% if (locals.user && !(locals.user.id === locals.movies[i].userId) && !locals.movies[i].vote) { %>
                <p class="float-start">
                    <a href="javascript:void(0)" class="votableElements" data-movie="<%=locals.movies[i].id%>" data-action="like"><%= locals.movies[i].likes %>
                        likes
                    </a>
                </p>
                <% } else { %>
                <p class="float-start">
                    <%= locals.movies[i].likes %> likes
                </p>
                <% } %>
                <p class="float-start">&nbsp;|&nbsp;</p>
                <% if (locals.user && !(locals.user.id === locals.movies[i].userId) && (locals.movies[i].vote || locals.movies[i].vote === null)) { %>
                <p class="float-start">
                    <a href="javascript:void(0)" class="votableElements" data-movie="<%=locals.movies[i].id%>" data-action="hate"><%= locals.movies[i].hates %>
                        hates
                    </a>
                </p>
                <% } else { %>
                <p class="float-start">
                    <%= locals.movies[i].hates %> hates
                </p>
                <% } %>
            </div>
            <div class="col">
                <% if (locals.user && locals.movies[i].vote) { %>
                <p class="float-end">
                    You like this movie &nbsp;|&nbsp;
                    <a href="javascript:void(0)" class="votableElements" data-movie="<%=locals.movies[i].id%>" data-action="unlike">
                        Unlike
                    </a>
                </p>
                <% } else if (locals.user && locals.movies[i].vote === false) { %>
                <p class="float-end">
                    You hate this movie &nbsp;|&nbsp;
                    <a href="javascript:void(0)" class="votableElements" data-movie="<%=locals.movies[i].id%>" data-action="unhate">
                        Unhate
                    </a>
                </p>
                <% } %>
            </div>
        </div>
    </div>
</div>
<% } %>